
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Manage Users </h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Manage Users </li>
      </ol>
    </div>
  </div>
  <!-- /.row  -->
  <div class="row">
    <div class="col-md-12 add">
	
    </div>
    <div class="col-lg-12">
         <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Users</h3>
        </div>
        <div class="panel-body">
      <div class="table-responsive" ng-show="filteredItems > 0">
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Email </th>
              <th>Project Group</th>
              <th>First Name </th>
           	  <th>Last Name </th>
              <th>Role </th>
              <th class="center">Status</th>
              <th class="center">Action</th>
            </tr>
          </thead>
     <tbody>
            <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
              <td>{{data.emailAddress}}</td>
              <td>{{data.projectGroup.projectGroupCode}}</td>
              <td>{{data.firstName}}</td>
              <td>{{data.lastName}}</td>
              <td>{{data.roles.role[0].roleDescription}}</td>
              <td  class="center">{{data.status}}</td>
               <td> <a ng-href="#/admin/updatepassword/{{data.accountId}}"> update password </a></td>
              </tr>
          </tbody>
        </table>
      </div>
      
      <div class="col-md-12" ng-show="filteredItems == 0">
        <div class="col-md-12">
          <h4>No file(s) found</h4>
        </div>
      </div>
      <div class="col-md-12" ng-show="filteredItems > 0">
        <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
      </div>
      </div></div>
    </div>
  </div>


</div>
