<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Merge Client</h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Merge Client </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="submitForm()" ng-controller="mergeclientCtrl" name="formMergeClient" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
           <li>
            <label><span class="required">*</span>Client ID: </label>
            <input required ng-model="form.clientId"  name="clientId">
          </li>
          <li>
            <label><span class="required">*</span>First Name: </label>
            <input required ng-model="form.firstName"  name="firstName">
          </li>
           <li>
            <label><span class="required">*</span>Last Name: </label>
            <input required ng-model="form.lastName"  name="lastName">
          </li>
           <li>
            <label><span class="required">*</span>SSN: </label>
            <input required ng-model="form.ssn"  name="ssn">
          </li>
           <li>
            <label><span class="required">*</span>DOB: </label>
            <input required ng-model="form.dob" type="date" name="dob">
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Merge Client" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
