<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Update User Password</h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Update User Password</li>
      </ol>
    </div>
  </div>
 		<b>		Reset password for  user </b>					 {{username}}
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="submitForm()" ng-controller="updateUserPwdCtrl" name="formRequestReport" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
              <ul>
    
   		  <li></li>
          <li>
            <label><span class="required">*</span>Password: </label>
            <input required ng-model="form.newPassword" type="password" name="password">
          </li>
          <li>
            <label><span class="required">*</span>Confirm Password: </label>
            <input required ng-model="form.confirmNewPassword" type="password" name="confirmPassword">
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Update Password" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
