target/*
bin/*
.settings/*
.classpath
.project
.idea
*.iml
*.properties
*.conf
*.DS_Store
target
bin
#user-service/*
hmis-survey-views/src/main/conf/*.conf
.DS_Store

dmin/target/*
admin/bin/*
admin/node_modules/*
admin/.settings/*
admin/.classpath
admin/.project
admin/.idea
admin/*.iml
admin/target
admin/node_modules/
admin/bin
admin/package-lock.json
admin/src/main/webapp/script/hmis-admin.min.js

authorization-service/target/*
authorization-service/bin/*
authorization-service/.settings/*
authorization-service/.classpath
authorization-service/.project
authorization-service/.idea
authorization-service/*.iml
authorization-service/target
authorization-service/bin

hmis-bulk-loader-*/target/*
hmis-bulk-loader-*/bin/*
hmis-bulk-loader-*/.settings/*
hmis-bulk-loader-*/.classpath
hmis-bulk-loader-*/.project
hmis-bulk-loader-*/.idea
hmis-bulk-loader-*/*.iml
hmis-bulk-loader-*/target
hmis-bulk-loader-*/bin

core-client/target/*
core-client/bin/*
core-client/.settings/*
core-client/.classpath
core-client/.project
core-client/.idea
core-client/*.iml
core-client/target
core-client/bin


fileupload-core/target/*
fileupload-core/bin/*
fileupload-core/.settings/*
fileupload-core/.classpath
fileupload-core/.project
fileupload-core/.idea
fileupload-core/*.iml
fileupload-core/target
fileupload-core/bin


hmis-mq-service/target/*
hmis-mq-service/bin/*
hmis-mq-service/.settings/*
hmis-mq-service/.classpath
hmis-mq-service/.project
hmis-mq-service/.idea
hmis-mq-service/*.iml
hmis-mq-service/target
hmis-mq-service/bin

s3-client/target/*
s3-client/bin/*
s3-client/.settings/*
s3-client/.classpath
s3-client/.project
s3-client/.idea
s3-client/*.iml
s3-client/target
s3-client/bin


client-dedup/target/*
client-dedup/bin/*
client-dedup/.settings/*
client-dedup/.classpath
client-dedup/.project
client-dedup/.idea
client-dedup/*.iml
client-dedup/target
client-dedup/bin

core-common/target/*
core-common/bin/*
core-common/.settings/*
core-common/.classpath
core-common/.project
core-common/.idea
core-common/*.iml
core-common/target
core-common/bin


developer-service/target/*
developer-service/bin/*
developer-service/.settings/*
developer-service/.classpath
developer-service/.project
developer-service/.idea
developer-service/*.iml
developer-service/target/*
developer-service/bin
developer-service/target/*
developer-service/bin/*

upload-service/.settings/*
upload-service/.classpath
upload-service/.project
upload-service/.idea
upload-service/*.iml
upload-service/target
upload-service/bin

hmis-load-processor-*/target/*
hmis-load-processor-*/bin/*
hmis-load-processor-*/.settings/*
hmis-load-processor-*/.classpath
hmis-load-processor-*/.project
hmis-load-processor-*/.idea
hmis-load-processor-*/*.iml
hmis-load-processor-*/target
hmis-load-processor-*/bin

hmis-model-*/target/*
hmis-model-*/.settings/*
hmis-model-*/.classpath
hmis-model-*/.project
hmis-model-*/.idea
hmis-model-*/*.iml
hmis-model-*/target
hmis-model-*/bin

bed-inventory/target/*
bed-inventory/.settings/*
bed-inventory/.classpath
bed-inventory/.project
bed-inventory/.idea
bed-inventory/*.iml
bed-inventory/target
bed-inventory/bin

notification-core/target/*
notification-core/bin/*
notification-core/.settings/*
notification-core/.classpath
notification-core/.project
notification-core/.idea
notification-core/*.iml
notification-core/target
notification-core/bin



notification-service/target/*
notification-service/bin/*
notification-service/.settings/*
notification-service/.classpath
notification-service/.project
notification-service/.idea
notification-service/*.iml
notification-service/target
notification-service/bin

report-service/target/*
report-service/bin/*
report-service/.settings/*
report-service/.classpath
report-service/.project
report-service/.idea
report-service/*.iml
report-service/target
report-service/bin

hmis-serialize-*/target/*
hmis-serialize-*/bin/*
hmis-serialize-*/.settings/*
hmis-serialize-*/.classpath
hmis-serialize-*/.project
hmis-serialize-*/.idea
hmis-serialize-*/*.iml
hmis-serialize-*/target
hmis-serialize-*/bin

hmis-service-*/target/*
hmis-service-*/bin/*
hmis-service-*/.settings/*
hmis-service-*/.classpath
hmis-service-*/.project
hmis-service-*/.idea
hmis-service-*/*.iml
hmis-service-*/target
hmis-service-*/bin

hmis-hud-reports/*.csv
hmis-hud-reports/*.zip

hmis-sync/target/*
hmis-sync/bin/*
hmis-sync/.settings/*
hmis-sync/.classpath
hmis-sync/.project
hmis-sync/.idea
hmis-sync/*.iml
hmis-sync/target
hmis-sync/bin


user-service/target/*
user-service/bin/*
user-service/.settings/*
user-service/.classpath
user-service/.project
user-service/.idea
user-service/*.iml
user-service/target
user-service/bin

sync-processor/target/*
sync-processor/bin/*
sync-processor/.settings/*
sync-processor/.classpath
sync-processor/.project
sync-processor/.idea
sync-processor/*.iml
sync-processor/target
sync-processor/bin

sync/target/*
sync/bin/*
sync/.settings/*
sync/.classpath
sync/.project
sync/.idea
sync/*.iml
sync/target
sync/bin

hmis-clientapi-*/target/*
hmis-clientapi-*/bin/*
hmis-clientapi-*/.settings/*
hmis-clientapi-*/.classpath
hmis-clientapi-*/.project
hmis-clientapi-*/.idea
hmis-clientapi-*/*.iml
hmis-clientapi-*/target
hmis-clientapi-*/bin

global-household/target/
global-household/.settings/
global-household/logs.logs
global-household/mvnw
global-household/mvnw.cmd

base-service/target/*
base-service/bin/*
base-service/.settings/*
base-service/.classpath
base-service/.project
base-service/.idea
base-service/*.iml
base-service/target
base-service/bin


mq-service/target/*
mq-service/bin/*
mq-service/.settings/*
mq-service/.classpath
mq-service/.project
mq-service/.idea
mq-service/*.iml
mq-service/target
mq-service/bin

mq-core-client/target/*
mq-core-client/bin/*
mq-core-client/.settings/*
mq-core-client/.classpath
mq-core-client/.project
mq-core-client/.idea
mq-core-client/*.iml
mq-core-client/target
mq-core-client/bin
mq-core-client/.gitignore

base-model/target/*
base-model/bin/*
base-model/.settings/*
base-model/.classpath
base-model/.project
base-model/.idea
base-model/*.iml
base-model/target
base-model/bin

base-serialize/target/*
base-serialize/bin/*
base-serialize/.settings/*
base-serialize/.classpath
base-serialize/.project
base-serialize/.idea
base-serialize/*.iml
base-serialize/target
base-serialize/bin

.class
hmis-model-v2015/target/*
*.prefs
*.prefs
admin/.settings/org.eclipse.jdt.core.prefs
bed-inventory/.settings/*
bed-inventory/.settings/*
bed-inventory/.settings/*
hmis-event-service/.settings/.jsdtscope
*.component
hmis-event-service/.settings/org.eclipse.wst.common.project.facet.core.xml
hmis-event-service/.settings/org.eclipse.wst.jsdt.ui.superType.container
hmis-event-service/.settings/org.eclipse.wst.jsdt.ui.superType.name
subscription-service/.settings/.jsdtscope
subscription-service/.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
subscription-service/.settings/org.eclipse.wst.jsdt.ui.superType.name
