<div class="container-fluid header">
  <div class="container">
    <div class="col-md-6">
      <div class="logo"><a href="index.html"><img src="images/logoSite.png" alt="ServingLynk" /></a></div>
    </div>
    <div class="col-md-6">
      <div class="whitehead" style="color:#222;"><strong>Welcome to HSLynk</strong></div>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="container">
    
    <!-- /.row -->
    <div class="row login">
    </div>
  </div>
</div>
<div class="container-fluid footerlogin ng-scope">
  <div class="container">
    <center>
      Copyright &copy; 2019 All rights reserved. ServingLynk, Inc
    </center>
  </div>
</div>
