<div class="container-fluid header">
  <div class="container">
    <div class="col-md-6">
      <div class="logo"><a href="index.html"><img src="images/logoSite.png" alt="ServingLynk" /></a></div>
    </div>
    <div class="col-md-6">
      <div class="whitehead" style="color:#222;"><strong>Welcome to HSLynk</strong></div>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="container">
    
    <!-- /.row -->
    <div class="row login">
      <div class="row bottomSpacer">
			<div class="col-md-6 text-center">
				<h3 class="noBottomMargin">HSLynk is:</h3>
				<div class="featureLine">An HMIS Platform as a Service (PaaS) which can power your HMIS App, or put HMIS in your existing app, whether it's proprietary or freely licensed</div>
				<div class="featureLine">A vendor neutral data warehouse</div>
				<div class="featureLine">A "big" data warehouse</div>
				<div class="featureLine">Able to receive data from any user program</div>
				<div class="featureLine">Secured with the highest level of data security in the industry</div>
			</div>
			<div class="col-md-6 text-center">
				<h3 class="noBottomMargin">With HSLynk, a HMIS Provider can</h3>
				<div class="featureLine">Collect and report data across organizations, regions, cities and states</div>
				<div class="featureLine">Get free standard reports and optional customized reports</div>
				<div class="featureLine">Leverage our Master Patient Index to partner with medical providers in Homeless care</div>
				<div class="featureLine">Obtain near time reporting</div>
				<div class="featureLine">And more!</div>
			</div>
		</div>
    </div>
  </div>
</div>
<div class="container-fluid footerlogin ng-scope">
  <div class="container">
    <center>
      Copyright &copy; 2019 All rights reserved. HSLynk
    </center>
  </div>
</div>
