<div class="container-fluid header">
  <div class="container">
    <div class="col-md-6">
      <div class="logo"><a href="index.html"><img src="images/logoSite.png" alt="ServingLynk" /></a></div>
    </div>
    <div class="col-md-6">
      <div class="whitehead">Welcome to HMIS Lynk</div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Create User </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="submitForm()" ng-controller="requestreportCtrl" name="formRequestReport" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
          <li>
            <label><span class="required">*</span>Email: </label>
            <input required ng-model="form.email" type="email" name="email">
          </li>
          <li>
            <label><span class="required">*</span>Password: </label>
            <input required ng-model="form.email" type="email" name="email">
          </li>
           <li>
            <label><span class="required">*</span>Confirm Password: </label>
            <input required ng-model="form.email" type="email" name="email">
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Sign Up" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
