<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">
  <display-name>hmis-bulk-loader-v2015</display-name>
  
  <servlet>
    <servlet-name>hmis-bulk-loader-v2015</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- we'll use AnnotationConfigWebApplicationContext instead of the default XmlWebApplicationContext... -->
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>

    <!-- ... and tell it which class contains the configuration -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>com.servinglynk.hmis.warehouse.upload.config.AppConfig</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>

  </servlet>

  <servlet-mapping>
    <servlet-name>hmis-bulk-loader-v2015</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
</web-app>
