<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
 
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="[%X{traceId}] [%d{dd/MMM/yyyy HH:mm:ss}] [%t] %-5p %c %x - %m%n" />
    </layout>
  </appender>
 

 <appender name="FILE_AUDIT" class="org.apache.log4j.RollingFileAppender" >
  <param name="file" value="${catalina.home}/logs/mq-serviice.log" />
  <param name="Append" value="true" />
    <param name="ImmediateFlush" value="true" />
    <param name="MaxFileSize" value="20MB" />
    <param name="MaxBackupIndex" value="5" />
  <!--    
    <rollingPolicy
        class="org.apache.log4j.rolling.TimeBasedRollingPolicy" >
        <param name="ActiveFileName" value="${catalina.home}/logs/clientapi-v2014.log" />
        <param name="FileNamePattern" value="${catalina.home}/logs/hmis_logs_archive/clientapi-v2014_%d{yyyy-MMM-dd}.log.gz" />
    </rollingPolicy>
   <triggeringPolicy
        class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
        <param name="maxFileSize" value="10240" />
    </triggeringPolicy>  -->
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="[%X{traceId}] [%d{dd/MMM/yyyy HH:mm:ss}] [%t] %-5p %c %x - %m%n" />
    </layout>
</appender>


<logger name="org.apache" additivity="false">
	<level value="ERROR" />
	<appender-ref ref="FILE_AUDIT" />
</logger>


<logger name="org.springframework.aop" additivity="false">
	<level value="ERROR" />
	<appender-ref ref="FILE_AUDIT" />
</logger>

<logger name="org.springframework" additivity="false">
	<level value="INFO" />
	<appender-ref ref="FILE_AUDIT" />
</logger>

<logger name="org.hibernate.SQL" additivity="false">
	<level value="DEBUG" />
	<appender-ref ref="FILE_AUDIT" />
</logger>

<logger name="org.hibernate.type" additivity="false">
	<level value="TRACE" />
	<appender-ref ref="FILE_AUDIT" />
</logger>

<logger name="org.hibernate" additivity="false">
	<level value="ERROR" />
	<appender-ref ref="FILE_AUDIT" />
</logger>

<logger name="org.aspectj" additivity="false">
	<level value="ERROR" />
	<appender-ref ref="FILE_AUDIT" />
</logger>
 
 <logger name="com.servinglynk.hmis" additivity="false" >
 	<level value="DEBUG" />
 	<appender-ref ref="FILE_AUDIT"/>
 
 </logger>
 
  <root>
    <priority value ="debug"></priority>
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE_AUDIT" />

  </root>
 
</log4j:configuration>