<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bulk Upload
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="#/admin/dashborad">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Bulk Upload
                </li>
            </ol>
        </div>

        <div class="col-lg-12">
            <form id="form" method="POST" action="/hmis-bulk-loader-service/uploadFile" enctype="multipart/form-data">
                <ul>
                    <li>
                        <label> File Upload:</label>
                        <input type="file" name="file">
                    </li>
                    <li>      <label> Name: </label> <input type="text" name="name"></li>
                    <li><label> </label> <input type="submit" value="Upload" class="btn btn-lg btn-upload"></li>
                </ul>


            </form>

        </div>

    </div>
    <!-- /.row -->

</div>