<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> HMIS Bulk Upload </h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-file"></i> HMIS Bulk Upload </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">

      <form ng-submit="submitForm()" ng-controller="bulkUploadNewCtrl" name="formBulkUpload" id="form" enctype="multipart/form-data">
	  <p class="bg-info" ng-show="showInfoAlert == true">{{infoTextAlert}}</p>
	<p class="bg-success" ng-show="showSuccessAlert == true">{{successTextAlert}}</p>
	<p class="bg-danger" ng-show="showErrorAlert == true">{{errorTextAlert}}</p>
        <ul>
          <li>
            <label><span class="required">*</span>HMIS Bulk Upload:</label>
            <input type="file" required name="file" file-model="form.inputfile">
          </li>
             <li>
            <label><span class="required">*</span>Year: </label>
            <select required  ng-model="form.version" name="version">
             <option value="">Select Year/Version</option>
              <option value="401">4.0.1 - 2014</option>
              <option value="411">4.1.1 - 2015</option>
              <option value="51">5.1 - 2016</option>
              <option value="611">6.1.11 - 2017</option>
              <option value="612">6.1.12 - 2017</option>
            </select>
          </li>
          <li>
            <label> </label>
            <input type="submit" value="Upload" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<!-- /.row -->
