<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Dashboard <small>Statistics Overview</small> </h1>
      <ol class="breadcrumb">
        <li class="active"> <i class="fa fa-dashboard"></i> Dashboard </li>
      </ol>
      <div class="floatleft">
      <div class="row dashboard ">
    <div class="col-lg-6 col-sm-6 col-xs-12 tile">
      <p class="onBoardDev"><a href="#"><i class="fa fa-tachometer"></i> On Board Developer Company</a></p>
    </div>
    <div class="col-lg-6 col-sm-6  col-xs-12 tile">
      <p class="onBoardUser"><a   href="#"><i class="fa fa-user"></i> On Board User</a> </p>
    </div>
    <div class="col-lg-6  col-sm-6 col-xs-12 tile">
      <p  class="onBoardFellow"><a  href="#/admin/onboarddevelopmentcompany"><i class="fa fa-user"></i> On Board Fellow</a> </p>
    </div>
    <div class="col-lg-6  col-sm-6 col-xs-12 tile">
      <p class="OnBoardApp"><a href="#"><i class="fa fa-sign-out"></i> On Board Trusted App</a> </p>
    </div>
  </div>
      </div>
      <div class="floatright">
        <div id="divBulkUpload"> Bulk Upload &nbsp;&nbsp;
          <button class="button-success pure-button">Service Success</button>
          <button class="button-error pure-button">Service Error</button></div>
       
        <div id="divUploadFile"> Dedup Service
          <button class="button-success pure-button">Service Success</button>
          <button class="button-error pure-button">Service Error</button></div>
        
        <div id="divAuthenticate"> Report Service
          <button class="button-success pure-button">Service Success</button>
          <button class="button-error pure-button">Service Error</button></div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Statistics Overview</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="managefile in managefiles | orderBy:'-updateAt' | limitTo: 3" class="list-group">
            <div class="list-group-item"> <span class="badge">{{managefile.updateAt | date:'yyyy-MM-dd HH:mm:ss'}}</span> <i class="fa fa-fw fa-calendar"></i> {{managefile.status}} -  {{managefile.inputPath}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
