<form ng-submit="submitForm()" ng-controller="onboardfellowgroupCtrl" name="formRequestReport" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
          <li>
            <label><span class="required">*</span>Project Group Name: </label>
            <input required ng-model="form.name" type="name" name="name">
          </li>
          <li>
            <label><span class="required">*</span>Project Group Description: </label>
            <input required ng-model="form.desc" type="desc" name="desc">

          </li>
         <li>
            <label><span class="required">*</span>Skip Client Identifiers: </label>
			<input type="checkbox" ng-model="form.skipuseridentifers"
           ng-true-value="'YES'" ng-false-value="'NO'">			  
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Next" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>