<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Create Report Config </h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Create Report Config </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="submitForm()" ng-controller="requestreportCtrl" name="formRequestReport" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
          <li>
            <label><span class="required">*</span>Name: </label>
            <input required ng-model="form.name"  name="name">
          </li>
          <li>
            <label><span class="required">*</span>Report Level: </label>
            <select required  ng-model="form.reportLevel" name="reportLevel">
             <option value="">Select Report Level</option>
              <option value="COC">Coc</option>
              <option value="PROJECT">Project</option>
            </select>
          </li>
           <li>
            <label><span class="required">*</span>Report Type: </label>
            <select required  ng-model="form.reportType" name="reportType">
             <option value="">Select Report Type</option>
              <option value="APR">APR</option>
              <option value="AHAR">AHAR</option>
            </select>
          </li>
           <li>
            <label><span class="required">*</span>Start Date: </label>
            <input required ng-model="form.startDate" type="date" name="startDate">
          </li>
            <li>
            <label><span class="required">*</span>End Date: </label>
            <input required ng-model="form.endDate" type="date" name="endDate">
          </li>
               <li>
            <label><span class="required">*</span>Project: </label>
            
            <select style="height:200px"multiple required ng-model="form.project" name="drpProject" ng-options="project.projectName for project in projects track by project.projectId">
            </select>
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Send Request" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
