<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Request Report </h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashborad">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Request Report </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form ng-submit="submitForm()" ng-controller="requestreportCtrl" name="formRequestReport" id="form" enctype="multipart/form-data">
        <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
          <li>
            <label><span class="required">*</span>Email: </label>
            <input required ng-model="form.email" type="email" name="email">
          </li>
          <li>
            <label><span class="required">*</span>Report: </label>
            <select required  ng-model="form.report" name="drpReport">
             <option value="">Select Report</option>
              <option value="APR">APR</option>
              <option value="AHAR">AHAR</option>
            </select>
          </li>
          <li>
            <label><span class="required">*</span>Year: </label>
            <select  required ng-model="form.year" name="drpYear">
              <option value="">Select Year</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
            </select>
          </li>
           <li>
            <label><span class="required">*</span>Project: </label>
            
            <select  required ng-model="form.project" name="drpProject" ng-options="project.projectName for project in projects track by project.exportID">
                <option value="">Select Project</option>
            </select>
          </li>
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Send Request" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
