<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Profile </h1>
      <ol class="breadcrumb">
        <li> <i class="fa fa-dashboard"></i> <a href="#/admin/dashboard">Dashboard</a> </li>
        <li class="active"> <i class="fa fa-table"></i> Profile </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <form id="form" ng-submit="submitForm()" ng-controller="settingCtrl" enctype="multipart/form-data">
         <div class="alert alert-success" ng-show="showSuccessAlert">
          <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >X</button>
         {{successTextAlert}} </div>
         <div class="alert alert-warning" ng-show="showErrorAlert">
          <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >X</button>
         {{errorTextAlert}} </div>
        <ul>
        
           
       
          <li>
            <label><span class="required">*</span>Email Address: </label>
            <input required readonly="readonly" ng-model="emailAddress" type="email" name="emailAddress">
          </li>
            <li>
            <label><span class="required">*</span>Role: </label>
            <input required  readonly="readonly" ng-model="role" type="name" name="form.role">
          </li>
            <li>
            <label><span class="required">*</span>Username: </label>
            <input required  readonly="readonly" ng-model="username" type="name" name="form.username">
          </li>
          <li>
            <label><span class="required">*</span>Password: </label>
            <input required ng-model="password" type="password" name="password">
          </li>
            <li>
            <label><span class="required">*</span>First Name: </label>
            <input required ng-model="firstName" type="name" name="form.firstName">
          </li>
                 <li>
            <label><span class="required">*</span>Last Name: </label>
            <input required ng-model="lastName" type="name" name="form.lastName">
              <input ng-model="accountId" type="hidden" name="form.accountId">
          </li>
                           
          
          <li>
            <label> </label>
            <input type="submit" ngClick="Submit"  value="Save" class="btn btn-lg btn-upload">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
