<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> 
 
  <appender name="toFile" class="org.apache.log4j.RollingFileAppender"> 
    <param name="file" value="${catalina.home}/logs/bulkupload.log"/>
    <param name="MaxFileSize" value="50MB"/>
    <!-- Keep one backup file -->
    <param name="MaxBackupIndex" value="1"/>
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/> 
    </layout> 
  </appender> 
 
  <root> 
    <priority value ="debug" /> 
    <appender-ref ref="toFile" /> 
  </root>
</log4j:configuration>